<div class="base">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Github-Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto offset-md-4" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto offset-md-4">
            <a class="nav-item nav-link active" routerLink="/home">Home</a>
            <a class="nav-item nav-link" routerLink="/search">Search</a>
            <a class="nav-item nav-link" routerLink="/about">About</a>
          </div>
        </div>
      </nav> 
      
      <div class="container message">
        <h2>About Us</h2>
        <!-- <hr> -->
        <p>It is a website where users may enter a GitHub username into a form, submit it, and see names and descriptions of that person's public repositories. A person can also look for repositories</p>
      </div>  
</div>

